@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  background-color: #ffffff;
}
body h1 {
  font-size: 0.95rem;
}
body h2 {
  font-size: 0.9rem;
}
body h3 {
  font-size: 0.8rem;
}
body p {
  font-size: 0.7rem;
}

header {
  display: flex;
  align-items: center;
  /* coloca todo en una fila y lo centra */
}
header .h5 {
  color: #1370ff;
}

.logo {
  text-align: left; /* alineación del logo */
}

header nav div div ul {
  color: #1370ff !important;
  list-style: none; /* Eliminar viñetas */
  display: flex; /* Alinear las categori­as */
  text-align-last: auto; /* Centra el texto verticalmente */
  gap: 0.5rem;
}

main {
  padding: 0.3rem;
  /* Clase para el banner */
  /* Clase para facilitadores */
}
main .banner {
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  height: auto; /* Mantener la proporcion de la imagen */
}
main .facilitadores {
  justify-items: center;
}
main .facilitadores ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  list-style: none;
  justify-content: center;
  text-align: auto;
  width: 90%;
}
main .facilitadores-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer {
  /* Estilos generales para el footer */
  background-color: #ffffff;
  display: grid;
  padding: 0.2rem;
  gap: 0.1rem;
  text-align: center;
  grid-template-columns: repeat(3, 30% 35% 35%);
}
footer div {
  background-color: #1370ff;
}
footer h3 {
  color: #ffffff;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.3rem 0;
}
footer ul li p {
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
}
footer > div p {
  color: #ffffff;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  body h1 {
    font-size: 1.5rem;
  }
  body h2 {
    font-size: 1.3rem;
  }
  body h3 {
    font-size: 1rem;
  }
  body p {
    font-size: 0.85rem;
  }
  body header {
    justify-content: center;
  }
  body .menu {
    width: 100%;
    justify-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  body h1 {
    font-size: 2rem;
  }
  body h2 {
    font-size: 1.6rem;
  }
  body h3 {
    font-size: 1.3rem;
  }
  body p {
    font-size: 1rem;
  }
  body header {
    justify-content: center;
  }
  body header nav ul {
    gap: 1.2rem;
  }
}
header {
  display: flex;
  align-items: center;
  /* coloca todo en una fila y lo centra */
}

.logo {
  text-align: left; /* alineación del logo */
}

header nav ul {
  color: #1370ff;
  list-style: none; /* Eliminar viñetas */
  display: flex; /* Alinear las categori­as */
  text-align-last: auto; /* Centra el texto verticalmente */
  gap: 0.5rem;
}

/* Clase para los botones comprar/solicitar */
.boton-comprar {
  background-color: #1370ff;
  color: #ffffff;
}

/* Main y formularios */
main {
  margin-top: 30px;
}

.h2-formulario {
  text-align: center;
  margin-bottom: 0.7rem;
  font-size: 1.7rem;
  color: #1370ff;
}

.h3-formulario {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  color: #1370ff;
}

.h4-formulario {
  margin-bottom: 0.4rem;
  font-size: 0.75rem;
  color: black;
}

.p-formulario {
  text-align: left;
  margin-bottom: 0.4rem;
  font-size: 0.7rem;
  color: black;
}

ul.datos-personales, ul.datos-receta, ol {
  list-style: none;
  margin-bottom: 0.4rem;
}

ul li, ol li {
  margin-bottom: 0.4rem;
}

label {
  display: block;
  margin-bottom: 0.7rem;
  font-weight: bold;
}

input, select {
  padding: 0.6rem;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  font-size: 0.6rem;
}

button {
  padding: 10px 20px;
  background-color: #1370ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

main {
  margin-top: 30px;
}

.h1-confirmacion {
  text-align: center;
  font-size: 2.45rem;
  color: #1370ff;
}

.h2-confirmacion {
  text-align: center;
  font-size: 1.7rem;
  color: black;
}

.p-confirmacion {
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

/*# sourceMappingURL=style.css.map */
