//mixin
@import "../abstracts/mixin";
//variables
@import "../abstracts/variables";

header{
     @include flex; /* coloca todo en una fila y lo centra */
     .h5{
        color: $color-principal;
     }
}

.logo{
    text-align: left; /* alineación del logo */
}

header nav div div ul{
    color: $color-principal !important;
    list-style: none; /* Eliminar viñetas */
    display: flex; /* Alinear las categori­as */
    text-align-last: auto; /* Centra el texto verticalmente */
    gap: 0.5rem;
}

main{
    padding: 0.3rem;
    
    /* Clase para el banner */
    .banner{
        width: 100%;  /* Ocupar todo el ancho de la pantalla */
        height: auto; /* Mantener la proporcion de la imagen */
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(49%) saturate(341%) brightness(93%) contrast(91%);
    }

    /* Clase para facilitadores */
    .facilitadores {
        justify-items: center;
        margin-top: 2rem; // <-- agregá esta línea para separar del banner
        }

    .facilitadores ul{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 2rem;
        list-style: none;
        justify-content: center;
        text-align: auto;
        width: 90%;
    }

    .facilitadores-item{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

footer {
    /* Estilos generales para el footer */
    background-color: $color-secundario;
    display: grid;
    padding: 0.2rem;
    text-align: center;
    grid-template-columns: repeat(2, 50% 50%);
    
    div {
        background-color: $color-principal;
        padding-top: 1rem;
      }
    
      h3 {
        color: $color-secundario;
      }
    
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
    
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin: 0.3rem 0;
    
          p {
            margin: 0;
            color: $color-secundario;
            font-size: $tam-p+0.2rem;
          }
        }
      }
      > div p {
        color: $color-secundario;
        font-size: $tam-p+0.2rem;
      }
    }

    /* Mostrar solo el carousel mobile por defecto */
    #carouselMobile {
    display: block;
    }
    #carouselDesktop {
    display: none;
    }

    /* Establecer el body como un contenedor flex */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;  /* Asegura que el cuerpo ocupe al menos toda la altura de la pantalla */
    }

    main {
        flex: 1;  /* Permite que el contenido principal se expanda para llenar el espacio disponible */
    }

@media screen and (min-width: 600px){
    body {
        h1{      
            font-size: $tam-h1+0.55rem; 
        }
        h2{
            font-size: $tam-h2+0.4rem; 
    
        }
        h3{
            font-size: $tam-h3+0.35rem; 
    
        }
        p{
            font-size: $tam-p+0.15rem; 
    
        }
        header{
            justify-content: center;
        }
        .menu{
            width: 100%;
            justify-items: center;
            text-align: center;
        }
        .menu .dropdown .btn.btn-secondary {
            background-color: $color-principal !important;
            border: none !important;       
        }
    }
}
    
    @media screen and (min-width: 1024px){
        body {
            h1{      
                font-size: $tam-h1+1.05rem; 
            }
            h2{
                font-size: $tam-h2+0.7rem; 
        
            }
            h3{
                font-size: $tam-h3+0.5rem; 
        
            }
            p{
                font-size: $tam-p+0.3rem; 
        
            }
            header{
                justify-content: center;
            }
            header nav ul{
                gap: 1.2rem;
            }
            #carouselMobile {
                display: none;
              }
              #carouselDesktop {
                display: block;
              }
        }
    }