// paleta de colores utilizadas 

$color-principal: #004aad;
$color-secundario: #ffffff;
$color-terciario: black;
$color-bordes: #ccc;

//Tamaño de letra standar

$tam-h1: 0.95rem;
$tam-h2: 0.9rem;
$tam-h3: 0.8rem;
$tam-h4: 0.75rem;
$tam-p: 0.7rem;
